DATABASE_URL="YOUR_DB_URL"
BTL_API_KEY="your BTL API key"
BTL_BASE_URL="https://api.badtheorylabs.com/v1"
BTL_MODEL="btl-2"
BTL_IMAGE_MODEL="gemini-2.5-flash-image"
BTL_EMBEDDING_MODEL="text-embedding-3-small"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
